<!--separdor-->
<hr class="featurette-divider">
<!--proyecto 1-->
<div class="container">
    <p id="proyectos" class="h2 d-flex justify-content-center">Proyectos Realizados</p>
    
    <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1">Juego del Ahorcado</h2>
          <span class="text-muted">HTML CSS JS</span>
          <p class="lead"> El juego del ahorcado es un Juego de adivinanzas. <br/> Debes ir insertando letras mayúsculas hasta acertar la palabra oculta sin ser “ahorcado”.
          </p> 
         <!-- <img src="../img\iconos\asustado.png" alt=""> -->
        </div>
        <div class="col-md-5">
          
          <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="600" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
          
        </div>
      </div>
  </div>
  <hr class="featurette-divider">
  <!--proyecto 2-->
  <div class="container">
  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1">Encriptador de Texto</h2>
      <span class="text-muted">HTML CSS JS</span>
      <p class="lead">Esta es una aplicacion que encripta el texto que desees. Así podrás intercambiar mensajes secretos con otras personas que sepan el secreto de la encriptación utilizada.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
    </div>
  </div>
</div>

<hr class="featurette-divider">
  <!--proyecto 3-->

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Hotel- Sistema de reserva</h5>
    <div class="card border-primary">
      <div class="card-header">Challenge Oracle-One Netx Education</div>   
      <div class="card-body text-primary">
        <h5 class="card-title">Herramientas utiliadas</h5>
         <div>
          <a href="#" class="btn btn-outline-primary">Java</a>
          <a href="#" class="btn btn-outline-primary">Eclipse</a>
          <a href="#" class="btn btn-outline-primary">MySql</a>
          <a href="#" class="btn btn-outline-primary">Plugin WindowBuilder</a>
          <a href="#" class="btn btn-outline-primary">Biblioteca JCalendar</a>
          <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Repositorio</button>
         </div>
      </div>
    </div> 
  </div>
  
  <video class="video_hotel" controls="controls" width="640" height="360" src="video/Hotel-Java-.mp4"></video>
</div>