<div class="container">
    <div class="row featurette">
        <div class="col-md-6">
        <h2 class="featurette-heading fw-normal lh-1">{{item.title}}</h2>
        <span class="text-muted">{{item.sub_title}}</span>
        <p class="lead"> {{item.content}}
        </p> 
        <!-- <img src="../img\iconos\asustado.png" alt=""> -->
        </div>
        <div class="col-md-6">
            <div class="cont_img">
                <img src={{item.img}} alt="">
            </div>
        </div>
    </div>
</div>
<hr class="featurette-divider">
