
<section class="contacto">
    <div class="contenedor">
        <div class="contenedor__contacto">
            <div class="contenedor__img-contacto">
                <img class="img__email-contacto" src="img/email-marketing.png" alt="">
            </div>
            <div class="contenedor__texto-contacto">
            <h2 id="contacto" class="nombre__titulo contacto__titulo">Contacto</h2>
            <p class="texto-contato">¿Quieres contactarme? </p>
            <p class="texto-contato">Complete el siguiente formulario y me pondré en contacto con usted lo antes posible.</p>
                <form class="formulario-contacto" action="">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingname" placeholder="name">
                        <label for="floatingname">Nombre</label>
                      </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Email</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingaffair" placeholder="affair">
                        <label for="floatingaffair">Asunto</label>
                      </div>
                      <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                        <label for="floatingTextarea2">Mensaje</label>
                      </div>
                    <button class="btn-form btn btn-primary" type="submit" value="enviar">Enviar mensaje</button>
                </form>
            </div>
        </div>
    </div>
</section>