
.contenedor_nav{
    background-color: #fff;
    position: sticky;
    width: 100%;
    top: 0%;
    text-align:center;  
    box-shadow: #292929;
    padding: 10px;
}
.nav-link{
    color: #292929;;
}

.img_header{
    width: 100%;
}

.titulo_habilidades{
    padding: 10px;
}
