<!--
<div class="row">
    <div class="cont-title">
        <input type="checkbox" [checked]="item.complete">
        {{item.title | titlecase }}
    </div>
    <div class="cont-comentario">
        {{item.comentario}}
    </div>
    <div class="cont-img">
        {{item.img}}
    </div>
    <div class="cont-actions">
        <button (click)="onDelete(item)" >Eliminar</button>
    </div>
</div>
 -->
<div class="card">
    <div class="card-body">
        <h5 class="card-title"> {{item.title}}</h5>
        <p class="card-text"> {{item.comentario}}</p>
        <div class="cont_tex-ico">
            <div>
                <img class="img_icono" src={{item.img}} alt="Imagen html-5">
            </div>
            <div class="cont_btn-info">
                <a href="#" class="btn btn-primary">Mas información</a>
            </div>
        </div>
    </div>
</div>
<div class="cont-actions">
    <button type="button" (click)="onDelete(item)" class="btn btn-danger btn_eliminar">Eliminar</button>
</div>