<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<div>
    <app-header></app-header>

    <!--SKILLS -->
    <h1 class="titulo_habilidades">Habilidades Técnicas</h1>
    
    <router-outlet class="principal_app-skills"></router-outlet>
    <p id="proyectos" class="h2 d-flex justify-content-center">Proyectos Realizados</p>
    <app-proyectos></app-proyectos>
    

    <footer-v0></footer-v0>

    <h1></h1>
</div>