
    <div class="contenedor_nav">
      
      <ul class="nav nav-pills mover">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/" >Portafolio</a>
          
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#habilidades">Habilidades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#proyectos">Proyecto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.linkedin.com/in/nelson-pinget-05a427206/" tabindex="-1" aria-disabled="true">Contacto</a>
        </li>
        <li  class="nav-item">
          <!--<a class="nav-link" routerLink="add">Nuevo</a> -->
        </li>
      </ul>
    </div>
    <div>
      
      
      
    </div>
   
