<div class="card d-flex justify-content-center">
    <h5 class="card-title d-flex name_proyecto-hotel">Hotel- Sistema de reserva</h5>
    <div class="card-body d-flex justify-content-center">

        <div class="card border-primary col-md-10">
            <div class="card-header">Challenge Oracle-One Netx Education</div>
            <div>
                <h5 class="card-title text-primary text_herramienta">Herramientas utiliadas</h5>

            </div>
            <div class="card-body text-primary d-flex justify-content-center">

                <div>
                    <div class="d-flex align-content-start flex-wrap col-md-12 ">
                        <div class="col-md-4 "><a href="#" class="btn btn-outline-primary btn_items ">Java</a></div>
                        <div class="col-md-4 "><a href="#" class="btn btn-outline-primary btn_items">Eclipse</a></div>
                        <div class="col-md-4 "><a href="#" class="btn btn-outline-primary btn_items">Plugin
                                WindowBuilder</a></div>
                        <div class="col-md-4 "><a href="#" class="btn btn-outline-primary btn_items">MySql</a></div>
                        <div class="col-md-4 "><a href="#" class="btn btn-outline-primary btn_items">Biblioteca
                                JCalendar</a></div>
                        <div class="col-md-4 "> <button class="btn btn-primary btn_items"
                                type="button">Repositorio</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <video class="video_hotel" controls="controls" width="640" height="360"
            src="../../../assets/video/Hotel-Java-.mp4"></video>
    </div>
</div>